@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap);
html {
  font-family: 'Darker Grotesque', sans-serif;
}

h1 {
  text-align: center;
  font-size: 10px;
}

body {
  background-color: #e0e0e0;
}

h2 {
  text-align: center;
  font-size: 35px;
}
