@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap);

html {
  font-family: 'Darker Grotesque', sans-serif;
}

.buttonpadding {
  text-align: center;
  background:#b3a4ca;
  color:#fff;
  border:none;
  height:60px;
  font-size:20px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width: 50%;
  border-radius: 20px;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}
.buttonpadding:hover{
  background:#fff;
  color:#b3a4ca;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}
.buttonpadding:before,.buttonpadding:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #b3a4ca;
  transition:400ms ease all;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}
.buttonpadding:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}
.buttonpadding:hover:before,.buttonpadding:hover:after{
  width:100%;
  transition:800ms ease all;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}

.tableformat {
  width:50%;
  vertical-align: top;
}


.card{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: bold;
}

.card-title{
  flex: auto;
  padding: 1.25rem;
  font-size: 25px;
}

.card-text{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.card-header{
  border: 1px, grey;
  border-style: ridge;
  border-width: 60%;
  background-color: #eff0f1;
  padding: .75rem 1.25rem;
  border-radius: 12px;
  text-align: center;
  color: #b3a4ca;
  font-size: 30px;
}
.cardbody{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 15px;
}
h5 {
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  font-weight: 50;
  font-size: 35px;
  line-height: 1.2;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
  background:#b3a4ca;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:20px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width: 50%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
.btn:hover{
  background:#fff;
  color:#b3a4ca;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}
.btn:before,.btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #b3a4ca;
  transition:400ms ease all;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}
.btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}
.btn:hover:before,.btn:hover:after{
  width:100%;
  transition:800ms ease all;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}

tr, th, table {
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 60px;
}
