@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap);

.programsinternsbackground{
  background-color: #eff0f1;
}
.mentor h1 {
  /* Text styles */
  font-size: 4.5em;

  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.mentor {
  /* Sizing */
  width: 100%;
  height: 500px;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white;

  /* Background styles */
  background: linear-gradient(rgba(0, 0, 0, 0.43210),rgba(0, 0, 0, 0.43210)), url("https://cdnl.tblsft.com/sites/default/files/blog/headerimage_0.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.mentor h1 {
  /* Text styles */
  font-size: 4.5em;

  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.mentor {
  /* Sizing */
  width: 100%;
  height: 500px;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white;

  /* Background styles */
  background: linear-gradient(rgba(0, 0, 0, 0.43210),rgba(0, 0, 0, 0.43210)), url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fdam%2Fimageserve%2F1069896383%2F960x0.jpg%3Ffit%3Dscale");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.hero h1 {
  /* Text styles */
  font-size: 4.5em;

  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero {
  /* Sizing */
  width: 100%;
  height: 500px;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white;

  /* Background styles */
  background: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)), url("https://cdnl.tblsft.com/sites/default/files/blog/headerimage_0.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  font-family: 'Darker Grotesque', sans-serif;
}
.menubackground{
  background: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)),url("../images/testpic.jpg");
}
.buttonpadding {
  text-align: center;
  background:#b3a4ca;
  color:#fff;
  border:none;
  height:60px;
  font-size:20px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width: 50%;
  border-radius: 20px;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
  position: relative;
}
.buttonpadding:hover{
  background:#fff;
  border-radius: 0px;
  color:#b3a4ca;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}
.buttonpadding:before,.buttonpadding:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #b3a4ca;
  transition:400ms ease all;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}
.buttonpadding:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}
.buttonpadding:hover:before,.buttonpadding:hover:after{
  width:100%;
  transition:800ms ease all;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}

.tableformat {
  width:50%;
  vertical-align: top;
}


.card{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: bold;

}

.card-title{
  flex: auto;
  padding: 1.25rem;
  font-size: 25px;
}

.card-text{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.card-header{
  border: 1px, grey;
  border-style: ridge;
  border-width: 60%;
  background-color: black;
  padding: .75rem 1.25rem;
  border-radius: 12px;
  text-align: center;
  color: #b3a4ca;
  font-size: 30px;
}
.cardbody{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 15px;
}
h5 {
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  font-weight: 50;
  font-size: 35px;
  line-height: 1.2;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
  background:#b3a4ca;
  color:#fff;
  border:none;
  height:60px;
  font-size:20px;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width: 50%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  position:relative;
}
.btn:hover{
  background:#fff;
  color:#b3a4ca;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}
.btn:before,.btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #b3a4ca;
  transition:400ms ease all;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}
.btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}
.btn:hover:before,.btn:hover:after{
  width:100%;
  transition:800ms ease all;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: thick;
  font-size: 20px;
}

tr, th, table {
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: white;
}
