@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap);
html {
  font-family: 'Darker Grotesque', sans-serif;
}

body {
  background-color: #bdbcbb
}

h1 .header {
  font-style: normal;
  font-weight: bold;
  display: block;
  margin: auto;
  width: 50%;
  border: 2px white;
  padding: 10px
    
}

.geninfo {
  font-size: 40%;
  border-radius: 20%
