@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap);
html {
  font-family: 'Darker Grotesque', sans-serif;
}

h1 {
  text-align: center;
  font-size: 60px;
}

body {
  background-color: #fff9ff;
}

h2.header {
  font-style: normal;
  font-weight: bold;
  display: block;
  margin: auto;
  border: 2px white;
  font-size: 32px;
  padding-left: 1%;
}

.geninfo {
  font-size: 20px;
  border-radius: 40%;
  padding-left:5%;
}

.extracurricular {
  font-size: 20px;
  border-radius: 40%;
  padding-left:5%;
}

.education {
  font-size: 20px;
  border-radius: 40%;
  padding-left:5%;
}

input {
  width: 30%;
  border-radius: 95px;
}

#add-extact {
  border-radius: 90px;
  background: #e0e0e0;
  padding: 5px;
  width: 30%;
  height: 4%;
}
