@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap);
html {
  font-family: 'Darker Grotesque', sans-serif;
}

body {
  background-color: #bdbcbb
}

h1 .header {
  font-style: oblique;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.geninfo {
  font-size: 40%;
  border-radius: 20%
