@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap);

html {
  font-family: 'Darker Grotesque', sans-serif;
}

body {
  background-color: #f2f2f2;
}

.hero h1 {
  /* Text styles */
  font-size: 4.5em;

  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero {
  /* Sizing */
  width: 100%;
  height: 500px;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white;

  /* Background styles */
  background: linear-gradient(rgba(0, 0, 0, 0.43210),rgba(0, 0, 0, 0.43210)), url("../images/group-final-proj.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  color: black;
  font-size: 18;
}

table, td, tr {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

p.ppadding {
  font-size:24px;
  padding-left: 7.5%;
  padding-right: 7.5%;
}
