@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap);

html {
  font-family: 'Darker Grotesque', sans-serif;
}

.hero h1 {
  /* Text styles */
  font-size: 5em;

  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero {
  /* Sizing */
  width: 100%;
  height: 500px;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;
  color: white;

  /* Background styles */
  background: linear-gradient(rgba(0, 0, 0, 0.43210),rgba(0, 0, 0, 0.43210)), url("husky.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bio_names {
  text-align: left;
    align-items: center;
    font-size: 12px;
    
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
